@model IEnumerable<BTE.RMS.Presentation.Web.ViewModel.Meeting.MeetingShowViewModel>
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section Styles{
<link href="~/Content/StyleTimelineMeetings.css" rel="stylesheet" />
}

<div class="row" style="margin-bottom:50px;">
    <div class="meeting-header">
        <img src="~/Content/Images/gharar_logo.png" class="gharar-logo" alt="gharar_logo" />

    </div>
    <div class="meeting-date">
        <table>
            <tr>
                <td style="width:50%; border-left:solid 1px #cf0b0b;">
                    <div class="meeting-date-show">
                        سه شنبه 4 خرداد
                        1395
                    </div>
                </td>
                <td>
                    <div class="meeting-date-show">
                        24 مه 2016
                    </div>
                    <br />
                    <div class="meeting-date-show">
                        17 شعبان 1437
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <a id="CreateMeeting" href="/Meetings/Create"><i class="fa fa-plus"></i></a>
    <div class="metting-time">
        <table>
            <tr class="time-header">
                <td></td>
                <td>شنبه</td>
                <td>یک شنبه</td>
                <td>دو شنبه</td>
                <td>سه شنبه</td>
                <td>چهار شنبه</td>
                <td>پنج شنبه</td>
                <td>جمعه</td>
            </tr>
            <tr class="time-header">
                <td></td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>7</td>
            </tr>
            <tr>
                <td class="timeShow">0</td>
                <td>
                    <div class="row">
                        <div class="col-md-12" id="Column1">

                        </div>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-12" id="Column2">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-12" id="Column3">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-12" id="Column4">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-12" id="Column5">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-12" id="Column6">
                        </div>
                    </div>
                </td>
                <td>
                    <div class="row">
                        <div class="col-md-12" id="Column7">
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">1</td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">2</td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">3</td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">4</td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">5</td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">6</td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">7</td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">8</td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">9</td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">10</td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">11</td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">12</td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">13</td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">14</td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">15</td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">16</td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">17</td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">18</td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">19</td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">20</td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">21</td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">22</td>
            </tr>
            <tr>
                <td colspan="8" class="timeShow">23</td>
            </tr>
        </table>
    </div>
</div>
@section Scripts{
    @{
        int i = 1;
        foreach (var item in Model)
        {
            int top = -30;
            top += (item.StartTimeHour * 60) + (item.StartTimeminute);

            <script type="text/javascript">
                var subject = '@item.Subject';
                var endTime = '@item.EndTime';
                var height = '@item.Duration';


                $("#Column"+@i).append("<a href=\"#\" class=\"a-color\"><div class=\"ColumnStyle\" style=\"top:"+@top+"px; height:"+height+"px;\"><span>"+@item.StartTimeHour+":"+@item.StartTimeminute+"</span><span class=\"span-subject\">"+subject+"</span><span class=\"span-bottom\">"+endTime+"</span></div></a>")
            </script>



            i++;
            if (i == 8)
            {
                i = 1;
            }
        }
    }
}






