@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@{
    ViewBag.Title = "نمای سال";
}

@section Styles{
<link href="~/Content/StyleTimelineMeetings.css" rel="stylesheet" />
<link href="~/Content/mahdinaseri-yearcalendarview.css" rel="stylesheet" />
}



<div class="row" style="margin-bottom:50px;">
    <div class="meeting-header">
        <img src="~/Content/Images/gharar_logo.png" class="gharar-logo" alt="gharar_logo" />

    </div>

    <div class="mahdinaseri_calendar table-responsive"></div>

</div>

    
<script src="~/Scripts/mahdinaseri-yearcalendarview.js"></script>

    <script>

        jQuery(".mahdinaseri_calendar").mahdinaseri_calendar({
            empty_box: "",
            current_day: 25,
            current_month: 3,
            current_year: 1395
        });
    </script>
