@using BTE.RMS.Presentation.Web.ViewModel.Home
@model BTE.RMS.Presentation.Web.ViewModel.CalenderYearVM
@{
    ViewBag.Title = "CalenderYearView";
}
<h2 class="page-header"> سالنمای سال @TodayVM.ToPersianDigit(Model.Year.ToString()) </h2>

<ul class="pager">
    <li class="previous"><a id="btnNext" href="/Tasks/NextYear?year=@Model.Year">بعدی</a></li>
    <li class="next"><a id="btnprevious" href="/Tasks/PreviousYear?year=@Model.Year">قبلی</a></li>
    @*<li class="previous"><a id="btnNext" >بعدی</a></li>
    <li class="next"><a id="btnprevious" href="/Tasks/PreviousYear?year=@Model.Year">قبلی</a></li>*@
</ul>




<div id="target">
    @Html.Raw(Model.YearView);
</div>

@*<script>
    $(document).ready(function () {
        $("#btnNext").click(function () {
            $.get('/Tasks/NextYear', { year: @Model.Year }, function (data) {
                $("#target").html(data);
            });
        });
    });
</script>*@

<ul class="pager">
    <li class="previous"><a href="/Tasks/NextYear?year=@Model.Year">بعدی</a></li>
    <li class="next"><a href="/Tasks/PreviousYear?year=@Model.Year">قبلی</a></li>
</ul>



@*<div class="row">
    <div class="col-md-4" style="text-align: center">
        <div class="cal">
            <table class="cal-table">
                <caption class="cal-caption">
                    May 2012
                </caption>
                <tbody class="cal-body">
                    <tr>
                        <td class="cal-off"><a href="index.html">30</a></td>
                        <td><a href="index.html">1</a></td>
                        <td><a href="index.html">2</a></td>
                        <td class="cal-today"><a href="index.html">3</a></td>
                        <td><a href="index.html">4</a></td>
                        <td><a href="index.html">5</a></td>
                        <td><a href="index.html">6</a></td>
                    </tr>
                    <tr>
                        <td><a href="index.html">7</a></td>
                        <td class="cal-selected"><a href="index.html">8</a></td>
                        <td><a href="index.html">9</a></td>
                        <td><a href="index.html">10</a></td>
                        <td><a href="index.html">11</a></td>
                        <td class="cal-check"><a href="index.html">12</a></td>
                        <td><a href="index.html">13</a></td>
                    </tr>
                    <tr>
                        <td><a href="index.html">14</a></td>
                        <td><a href="index.html">15</a></td>
                        <td><a href="index.html">16</a></td>
                        <td class="cal-check"><a href="index.html">17</a></td>
                        <td><a href="index.html">18</a></td>
                        <td><a href="index.html">19</a></td>
                        <td><a href="index.html">20</a></td>
                    </tr>
                    <tr>
                        <td><a href="index.html">21</a></td>
                        <td><a href="index.html">22</a></td>
                        <td><a href="index.html">23</a></td>
                        <td><a href="index.html">24</a></td>
                        <td><a href="index.html">25</a></td>
                        <td><a href="index.html">26</a></td>
                        <td><a href="index.html">27</a></td>
                    </tr>
                    <tr>
                        <td><a href="index.html">28</a></td>
                        <td><a href="index.html">29</a></td>
                        <td><a href="index.html">30</a></td>
                        <td><a href="index.html">31</a></td>
                        <td class="cal-off"><a href="index.html">1</a></td>
                        <td class="cal-off"><a href="index.html">2</a></td>
                        <td class="cal-off"><a href="index.html">3</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>*@




