#clock {
    display: inline-block;
    position: relative;
    height: 200px;
    width: 200px;
    background: url(ClockFace.png);
    background-repeat: no-repeat;
    list-style: none;
}

#sec, #min, #hour {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
}

#sec {
    background: url(Seconds.png);
    z-index: 3;
}

#min {
    background: url(Minutes.png);
    z-index: 2;
}

#hour {
    background: url(Hours.png);
    z-index: 1;
}