@{
    ViewBag.Title = "افق چشم انداز من";
}
<link href="~/Content/Strategic/Strategic.css" rel="stylesheet" />
<h2 class="page-header">افق چشم انداز من</h2>
<div class="row">
    <div class="col-sm-12 row-align-top">
        <label class="control-label">افق چشم انداز من</label>
        <textarea class="form-control textarea" rows="10" style="border-style: solid; border-color: black; border-width: 1px"></textarea>
    </div>
    <div class="col-md-12 row-align-top">
        <div class="row">
            <div class="col-md-5">
                <label class="list-group-item active">تصویر انتخابی</label>
                <img class="img-thumbnail image-frame"/>
            </div>
            <div class="col-md-7">
                <label class="list-group-item active">تصاویر</label>
                <div class="list-group pre-scrollable" style="height: 185px; border-style: solid; border-color: black;border-width: 1px">
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                    <a href="#" class="list-group-item">Second item</a>
                    <a href="#" class="list-group-item">Third item</a>
                </div>
                <div align="left" style="margin-top: 40px">
                    <button class="btn btn-default">افزودن تصویر</button>
                    <button class="btn btn-default">حذف از لیست تصاویر</button>
                </div>
            </div>
        </div>
    </div>
</div>