@using System.Activities.Statements
@{
    ViewBag.Title = "اهداف فرعی";
}
<link href="~/Content/Strategic/Strategic.css" rel="stylesheet" />
<h2>اهداف فرعی</h2>
<body>
    <div class="row">
        <div class="col-md-12 row-align-top" style="border: black; border-width: 20px">
            <div class="row">
                <div class="col-md-3">
                    <label class="control-label">هدف کلی</label>
                    <select class="form-control inline-Drop-Down" style="display: inline-block"></select>
                </div>
                <div class="col-md-3">
                    <label class="control-label">اولویت</label>
                    <select class="form-control inline-Drop-Down" style="display: inline-block"></select>
                </div>
                <div class="col-md-3">
                    <label class="control-label">از تاریخ</label>
                    <select class="form-control inline-Drop-Down" style="display: inline-block"></select>
                </div>
                <div class="col-md-3">
                    <label class="control-label ">تا تاریخ</label>
                    <select class="form-control inline-Drop-Down" style="display: inline-block"></select>
                </div>
            </div>
        </div>
        <div class="col-md-12 row-align-top">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>اولویت</th>
                        <th>عنوان هدف فرعی</th>
                        <th>هدف کلی</th>
                        <th>شروع</th>
                        <th>پایان</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="col-md-12 row-align-top" style="display: inline-block">
            <div class="row">
                <div class="col-md-12">
                    @*<input type="button" class="btn btn-default" value="هدف جدید" />*@
                    @Html.ActionLink("هدف جدید","SecondaryObjectiveList")
                </div>
                @*<div class="col-md-2">*@
                    @*<input type="button" class="btn btn-default" value="ویرایش" />
                    <input type="button" class="btn btn-default" value="حذف" />*@
                    @*@Html.ActionLink("ویرایش", "SecondaryObjectiveList")
                    @Html.ActionLink("حذف", "SecondaryObjectiveList")*@
                @*</div>*@
            </div>
        </div>
    </div>
</body>