
@{
    ViewBag.Title = "حذف هدف فرعی";
}

<h2 class="page-header">حذف هدف فرعی</h2>

<h4>آیا می خواهید هدف فرعی مورد نظر را حذف کنید؟</h4>

<div>
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label">اولویت</label>
        </dt>

        <dd>
            <label class="control-label">A</label>
        </dd>
        <dt>
            <label class="control-label">عنوان هدف فرعی</label>
        </dt>

        <dd>
            <label class="control-label">ورزش</label>
        </dd>
        <dt>
            <label class="control-label">هدف کلی</label>
        </dt>

        <dd>
            <label class="control-label">سلامتی و تندرستی</label>
        </dd>
        <dt>
            <label class="control-label">شروع</label>
        </dt>

        <dd>
            <label class="control-label">1394/11/09</label>
        </dd>
        <dt>
            <label class="control-label">پایان</label>
        </dt>

        <dd>
            <label class="control-label">1394/11/15</label>
        </dd>
    </dl>
</div>

<div>
    <input type="submit" value="حذف" class="btn btn-default" />
</div>
<hr />
<div>
    @Html.ActionLink("برگشت به لیست", "SecTargetList")
</div>