@font-face {
    font-family: 'yekan';
    src: url('fonts/iransansz-webfont.ttf') format('truetype');
    src: url('fonts/iransansz-webfont.eot');
    src: url('fonts/iransansz-webfont.svg');
    src: url('fonts/iransansz-webfont.woff');
}


body {
    margin-top: 0 !important;
    background-color: #ffffff;
    font-family:yekan;
}

#wrapper {
    padding-right: 40px !important;
}

#page-wrapper {
    padding: 0;
}
