@{
    ViewBag.Title = "مطالب آموزشی";
}
<h2 class="page-header">@ViewBag.Title</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        جملات قصار
    </div>
    <div class="panel-body">
        <div>
            وقتی زندگی چیز زیادی به شما نمی دهد، بخاطر این است كه شما چیز زیادی از آن نخواسته اید
        </div>
    </div>

</div>


<div class="panel panel-default">
    <div class="panel-heading">
        اصل تقویت نیروی نگاه
    </div>
    <div class="panel-body">
        <div>
           افراد نظامی به به خصوص آنهایی که در مشاغل فرماندهی بوده اند بصورت ناخودآگاه از نگاه قدرت مندی برخوردارند
        </div>
    </div>

</div>
