@{
    ViewBag.Title = "تقویم و مناسبت های روز";
}

@*<h2 class="page-header">@ViewBag.Title</h2>*@

<div class="panel panel-default">
    <div class="panel-heading">
        تاریخ امروز
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="text-center">
                <span class="col-md-3">
                    <strong>شمسی : </strong>جمعه - ۴
                    دی ۱۳۹۴
                </span>
                <span class="col-md-3">
                    <strong>قمری : </strong>الجمعة -
                    ١٣ ربيع الاول ١٤٣٧
                </span>
                <span class="col-md-3">
                    <strong>میلادی : </strong>Friday
                    - 2015 25 December
                </span>
                <span class="col-md-3">
                    <strong>برج فلکی : </strong>جدی
                </span>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        جملات قصار
    </div>
    <div class="panel-body">
        <div>
            وقتی زندگی چیز زیادی به شما نمی دهد، بخاطر این است كه شما چیز زیادی از آن نخواسته اید
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-6 col-sm-6" style="text-align: center;">

        <ul id="clock">
            <li id="sec"></li>
            <li id="hour"></li>
            <li id="min"></li>
        </ul>


    </div>
    <div class="col-md-6 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                اوقات شرعی به افق شهرها
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <select class="form-control">
                            <option selected="selected" value="volvo">تهران</option>
                            <option value="saab">مشهد</option>
                            <option value="mercedes">تبریز</option>
                            <option value="audi">شیراز</option>
                        </select>

                    </div>
                    <div class="col-md-6">
                        <select class="form-control">
                            <option value="volvo">تهران</option>
                            <option value="saab">دماوند</option>
                            <option value="mercedes">رباط کریم</option>
                            <option value="audi">ری</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-horizontal">
            <div class="col-sm-6">
                <span class="small ephemerisAzanMorning">
                    اذان صبح
                </span>
                <span class="inlineBlock ltr text-nowrap">
                    ۰۶ : ۰۴
                </span> <br>
                <span class="small ephemerisAzanSunrise">
                    طلوع خورشید
                </span>
                <span class="inlineBlock ltr text-nowrap">
                    ۰۷ : ۳۹
                </span> <br>
                <span class="small ephemerisAzanMoon">
                    اذان ظهر
                </span>
                <span class="inlineBlock ltr text-nowrap">
                    ۱۲ : ۲۵
                </span>
            </div>
            <div class="col-sm-6">
                <span class="small ephemerisAzanSunset">
                    غروب خورشید
                </span>
                <span class="inlineBlock ltr text-nowrap">
                    ۱۷ : ۱۱
                </span> <br>
                <span class="small ephemerisAzanNight">
                    اذان مغرب
                </span>
                <span class="inlineBlock ltr text-nowrap">
                    ۱۷ : ۳۱
                </span> <br>
                <span class="small ephemerisMidNight">
                    نیمه شب شرعی
                </span>
                <span class="inlineBlock ltr text-nowrap">
                    ۲۳ : ۳۸
                </span>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="panel panel-default">
        <div class="panel-heading">
            مناسبت های امروز
        </div>
        <div class="panel-body">
            <div>
                روز هوای پاک و درختکاری
            </div>
        </div>

    </div>
</div>
@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            setInterval(function () {
                var seconds = new Date().getSeconds();
                var sdegree = seconds * 6;
                var srotate = "rotate(" + sdegree + "deg)";

                $("#sec").css({ "-moz-transform": srotate, "-webkit-transform": srotate });

            }, 1000);


            setInterval(function () {
                var hours = new Date().getHours();
                var mins = new Date().getMinutes();
                var hdegree = hours * 30 + (mins / 2);
                var hrotate = "rotate(" + hdegree + "deg)";

                $("#hour").css({ "-moz-transform": hrotate, "-webkit-transform": hrotate });

            }, 1000);


            setInterval(function () {
                var mins = new Date().getMinutes();
                var mdegree = mins * 6;
                var mrotate = "rotate(" + mdegree + "deg)";

                $("#min").css({ "-moz-transform": mrotate, "-webkit-transform": mrotate });

            }, 1000);

        });

    </script>
}

















