@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="row">
        <div class="col-md-12 todayDate">
            <div class="inner">
                <div class="panel panel-style6 ">
                    <div class="panel-heading">
                        <h2 class="pull-right">تاریخ امروز</h2>
                        <div class="clearBoth">
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="text-center">
                                <span id="ctl00_cphTop_Sampa_Web_View_TimeUI_ShowDate00cphTop_3409_lblShamsiDate" class="today-shamsi">
                                    <strong>شمسی : </strong>جمعه - ۴
                                    دی ۱۳۹۴
                                </span>
                                <span id="ctl00_cphTop_Sampa_Web_View_TimeUI_ShowDate00cphTop_3409_lblHijri" class="today-hijri">
                                    <strong>قمری : </strong>الجمعة -
                                    ١٣ ربيع الاول ١٤٣٧
                                </span>
                                <span id="ctl00_cphTop_Sampa_Web_View_TimeUI_ShowDate00cphTop_3409_lblGregorian" class="today-gregorian">
                                    <strong>میلادی : </strong>Friday
                                    - 2015 25 December
                                </span>
                                <span id="ctl00_cphTop_Sampa_Web_View_TimeUI_ShowDate00cphTop_3409_lblAstrologicalSign" class="today-astrological">
                                    <strong>برج فلکی : </strong>جدی
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>