@{
    ViewBag.Title = "Home Page";
}
<div class="panel panel-default">
    <div class="panel-heading">
        تاریخ امروز
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="text-center">
                <span class="col-md-3">
                    <strong>شمسی : </strong>جمعه - ۴
                    دی ۱۳۹۴
                </span>
                <span class="col-md-3">
                    <strong>قمری : </strong>الجمعة -
                    ١٣ ربيع الاول ١٤٣٧
                </span>
                <span class="col-md-3">
                    <strong>میلادی : </strong>Friday
                    - 2015 25 December
                </span>
                <span class="col-md-3">
                    <strong>برج فلکی : </strong>جدی
                </span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-6" style="text-align: center;">

        <ul id="clock">
            <li id="sec"></li>
            <li id="hour"></li>
            <li id="min"></li>
        </ul>


    </div>
    <div class="col-md-6 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                اوقات شرعی به افق شهرها
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <select class="form-control">
                            <option selected="selected" value="volvo">تهران</option>
                            <option value="saab">مشهد</option>
                            <option value="mercedes">تبریز</option>
                            <option value="audi">شیراز</option>
                        </select>

                    </div>
                    <div class="col-md-6">
                        <select class="form-control">
                            <option value="volvo">تهران</option>
                            <option value="saab">دماوند</option>
                            <option value="mercedes">رباط کریم</option>
                            <option value="audi">ری</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-horizontal">
            <div class="col-sm-6">
                <span class="small ephemerisAzanMorning">
                    اذان صبح
                </span>
                <span  class="inlineBlock ltr text-nowrap">
                    ۰۶ : ۰۴
                </span> <br>
                <span class="small ephemerisAzanSunrise">
                    طلوع خورشید
                </span>
                <span  class="inlineBlock ltr text-nowrap">
                    ۰۷ : ۳۹
                </span> <br>
                <span class="small ephemerisAzanMoon">
                    اذان ظهر
                </span>
                <span  class="inlineBlock ltr text-nowrap">
                    ۱۲ : ۲۵
                </span>
            </div>
            <div class="col-sm-6">
                <span class="small ephemerisAzanSunset">
                    غروب خورشید
                </span>
                <span  class="inlineBlock ltr text-nowrap">
                    ۱۷ : ۱۱
                </span> <br>
                <span class="small ephemerisAzanNight">
                    اذان مغرب
                </span>
                <span  class="inlineBlock ltr text-nowrap">
                    ۱۷ : ۳۱
                </span> <br>
                <span class="small ephemerisMidNight">
                    نیمه شب شرعی
                </span>
                <span  class="inlineBlock ltr text-nowrap">
                    ۲۳ : ۳۸
                </span>
            </div>
        </div>
    </div>

</div>

<div class="panel panel-default">
    <div class="panel-heading">
        نکته آموزشی امروز
    </div>
    <div class="panel-body">
        <div>
            وقتی زندگی چیز زیادی به شما نمی دهد، بخاطر این است كه شما چیز زیادی از آن نخواسته اید
        </div>
        <div style="float: left;">
            احسان محمدی
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-6 col-sm-6" style="padding: 10px;">
        <div id="flat_calendar_1" ></div>

    </div>
    <div class="col-md-6 col-sm-6"></div>
</div>
<div>

</div>

<script type="text/javascript">
    Calendar.setup({
        inputField: "date_input_7",
        displayArea: "display_area_1",
        flat: "flat_calendar_1", // id of the input field
        ifFormat: "%Y-%m-%d", // format of the input field
        dateType: 'jalali',
        weekNumbers: false
    });
</script>

















