@{
    ViewBag.Title = "برنامه های روز";
}
<h2 class="page-header">@ViewBag.Title</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        تاریخ مورد نظر را انتخاب کنید
    </div>
    <div class="panel-body">
        <div>
            <div  class="col-md-6 col-sm-6">

                
            </div>
            <div class="col-md-6 col-sm-6">

            </div>

        </div>
    </div>

</div>