@{
    ViewBag.Title = "برنامه های روز";
}
<h2 class="page-header">@ViewBag.Title</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <button class="btn btn-default" data-mddatetimepicker="true" data-targetselector="#input1" data-placement="left" data-trigger="click" data-englishnumber="false">تاریخ مورد نظر را انتخاب کنید</button>
    </div>
    <div class="panel-body">
        <div class="col-md-6 col-sm-6">
            <input type="text" class="form-control" id="input1" value=""/>
        </div>
        <div class="col-md-6 col-sm-6">

        </div>
    </div>
</div>

<div class="col-md-6 col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            سر رسید های مالی
        </div>
        <div class="panel-body">

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            برنامه ریزی اهداف
        </div>
        <div class="panel-body">

        </div>
    </div>
</div>
<div class="col-md-6 col-sm-6">

</div>


