<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="AuthContext" connectionString="data source=.;initial catalog=RMSDB;integrated security=True;" providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="RMSConnection" connectionString="data source=.;initial catalog=RMSDB;integrated security=True;multipleactiveresultsets=True;" providerName="System.Data.SqlClient"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

  </connectionStrings>
</configuration>