@{
    ViewBag.Title = "هدف فرعی";
}

<h2 class="page-header">اهداف فرعی</h2>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">چشم انداز هدف</label>
            <input type="text" class="form-control inline-sec-Drop-Down" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8">
            <label class="control-label">عنوان هدف فرعی</label>
            <input type="text" class="form-control inline-sec-Drop-Down" />
        </div>
        <div class="col-md-4">
            <label class="control-label">اولویت</label>
            <select class="form-control inline-sec-Drop-Down"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8">
            <label class="control-label">هدف کلی</label>
            <input type="text" class="form-control inline-sec-Drop-Down" />
        </div>
        <div class="col-md-4">
            <label class="control-label">ضرب العجل</label>
            <select class="form-control inline-sec-Drop-Down"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">شروع</label>
                    <select class="form-control inline-sec-Drop-Down"></select>
                </div>
                <div class="col-md-6">
                    <label class="control-label">پایان</label>
                    <select class="form-control inline-sec-Drop-Down"></select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <label class="control-label">زمان هدف</label>
            <select class="form-control inline-sec-Drop-Down"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">شرح (ویژگی های هدف)</label>
        <div class="col-md-10">
            <input type="text" class="form-control inline-sec-Drop-Down" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">ماموریت(اقدامی که برای رسیدن به هدف باید انجام دهم)</label>
            <input type="text" class="form-control inline-sec-Drop-Down" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            <label class="control-label">نقاط قوت</label>
            <input type="text" class="form-control inline-sec-Drop-Down" />
        </div>
        <div class="col-md-6">
            <label class="control-label">نقاط ضعف</label>
            <input type="text" class="form-control inline-sec-Drop-Down" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            <label class="control-label">نقاط فرصت</label>
            <input type="text" class="form-control inline-sec-Drop-Down" />
        </div>
        <div class="col-md-6">
            <label class="control-label">نقاط تهدید</label>
            <input type="text" class="form-control inline-sec-Drop-Down" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <label class="control-label">یادداشت ها</label>
            <input type="text" class="form-control inline-sec-Drop-Down" />
        </div>
    </div>
    <div class="form-group">
        <input value="ثبت" class="col-md-2 btn btn-default" type="submit">
    </div>
</div>