@{
    ViewBag.Title = "برنامه ریزی";
}

<h2 class="page-header">برنامه ریزی</h2>
<div class="row">
    <div class="col-md-12">
        <label class="control-label">هدف فرعی</label>
        <select class="form-control"></select>
    </div>
</div>
<div class="table-responsive">
    <h4><label class="control-label">موانع و مشکلات</label></h4>

    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>عنوان</th>
                <th>اولویت</th>
                <th>راهکار</th>
                <th>رفع</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>شسیشسیشسی</td>
                <td>شسیشسیشس</td>
                <td>شسیسشیشسی</td>
                <td>شسیشسی</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>شسیشسیشسی</td>
                <td>شسیشسیشس</td>
                <td>شسیسشیشسی</td>
                <td>شسیشسی</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("جدید", "PersonalPlanning")
</p>

<div class="table-responsive">
    <h4><label class="control-label">راهکار های اجرایی (فرضیه ها و الگو ها)</label></h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>شرح راهکار</th>
                <th>اولویت بندی</th>
                <th>پیش بینی % موفقیت</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>شسیشسیشسی</td>
                <td>شسیشسیشس</td>
                <td>شسیسشیشسی</td>
                <td>شسیشسی</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>شسیشسیشسی</td>
                <td>شسیشسیشس</td>
                <td>شسیسشیشسی</td>
                <td>شسیشسی</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("جدید", "PersonalPlanning")
</p>

<div class="table-responsive">
    <h4><label class="control-label">منابع</label></h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>عنوان(شرح)</th>
                <th>نوع</th>
                <th>میزان تخصص</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>شسیشسیشسی</td>
                <td>شسیشسیشس</td>
                <td>شسیسشیشسی</td>
                <td>شسیشسی</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>شسیشسیشسی</td>
                <td>شسیشسیشس</td>
                <td>شسیسشیشسی</td>
                <td>شسیشسی</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("جدید", "PersonalPlanning")
</p>
<div class="row">
    <input value="ثبت" class="col-md-2 btn btn-default" type="submit">
</div>
